h1 {
    text-align: center;
    background-color: rgb(26, 26, 26);
    color: white;
    font-family: Rubik;
    font-size: 3rem;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    width: 50%;
    border-radius: 20px;
}

.logInButton {
    background-color: rgb(26, 26, 26);
    color: white;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 15px;
    right: 50px;
    display: flex;
}

.logInButton p {
    padding: 0 30px;
    font-family: Rubik;
    justify-content: center;
    align-items: center;
}
.logInButton button {
    margin: 15px 70px;
    font-family: Rubik;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: white;
}

.profile {
    background-color: rgb(26, 26, 26);
    color: white;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 15px;
    left: 50px;
    display: flex;
}
.profile p {
    padding: 0 30px;
    font-family: Rubik;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

p {
    color: white;
}

