.div {
    background-color: rgb(26, 26, 26);
    min-height: 500px;
    width: 49%;
    border-radius: 20px;
    margin-top: 5px;
    text-align: center;
    align-items: center;
}

h2 {
    color: white;
    font-family: Rubik;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
}